* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #02111B
}

h1 {
    color: black;
    /* padding-left: 1rem; */
    margin-top: 5px;
    font-size: 3vw;
}


/*Navigtionsbar and Burger-menu*/

nav {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: none;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0;
    list-style-type: none;
    width: 95%;
}

.nav-ul li a {
    display: inline-block;
    padding: 0.5em;
    padding-right: 2rem;
    padding-left: 2rem;
    color: #FCFCFC;
    text-decoration: none;
    width: 100%;
    font-size: 30px;
}

nav a:hover,
nav a:focus {
    color: aqua;
    text-decoration: underline;
}

.home {
    float: left;
}

.hamburger {
    border: 0;
    color: #fcfcfc;
    cursor: pointer;
    font-size: 20px;
    display: none;
    background-color: transparent;
}

.home {
    color: #fcfcfc;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}


/*This is my flexboxes*/

.flex-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    padding: 10px;
    margin: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    flex: 50%;
    border-radius: 20px;
}

.flex-item-right {
    margin: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    padding: 10px;
    flex: 50%;
    border-radius: 20px;
}

.figure {
    display: flex;
    flex-direction: row;
    flex: 50%;
}


/*Typografi*/

h3 {
    font-size: 20px;
    margin-top: 0em
}

figcaption {
    background-color: none;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
    display: flex-end;
}

article p {
    text-align: left;
    font-size: 2.2vw;
}

.info {
    font-size: 4.2vw;
}

span {
    font-weight: bold;
}


/*Images*/

.img-responsive {
    width: 20%;
    height: 20%;
    text-align: left;
    flex: 30%;
    float: left;
    border-radius: 10px
}

.portrait {
    display: flex;
    flex-direction: column;
    height: 100%
}

.icons {
    width: 20%;
    height: 20%;
}

.comp {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}


/*Other tags*/

meter {
    width: 15rem;
}

@media (min-width: 768px) {
    .flex-container {
        flex-direction: row;
    }
    .img-responsive {
        width: 40%;
        height: 100%;
    }
    .icons {
        width: 15%;
        height: 35%;
    }
    .info {
        font-size: 2vw;
        margin-top: 1.5rem;
    }
    .flex-item-left {
        margin-left: 80px;
        margin-right: 40px;
        margin-top: 30px;
    }
    .flex-item-right {
        margin-left: 40px;
        margin-right: 80px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .nav-ul.show {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    article p {
        font-size: 3.5vw
    }
    h1 {
        font-size: 4vw;
    }
}